@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    Marcin Czurczak<br />
    Wyżne 21<br />
    <abbr title="Phone">Telefon:</abbr>
    697 467 886
</address>

<address>
    <strong>Email: </strong><a href="mailto:czurczak.marcin@gmail.com">czurczak.marcin@gmail.com</a>

</address>