@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Biblioteka</h1>
    <p class="lead">
                    Użytkownik ma możliwość wprowadzać do bazy danych książki, które znajdują się w jego prywatnej kolekcji. 
                    Otrzyma możliwość przeglądania swojej kolekcji (sortowania jej na różne sposoby), oznaczania książek jako przeczytane i oceniania ich.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Książki</h2>
        <p>
            Umieszczaj informacje na temat interesujących cię książek, takie jak tytuł, cykl, rok wydania, opis i okładka.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Autorzy</h2>
        <p>Umieszczaj informacje na temat autorów książek, takie jak imię i nazwisko, data i miejsce urodzenia, płeć, biografię oraz zdjęcie.</p>
    </div>
    <div class="col-md-4">
        <h2>Gatunki</h2>
        <p> Umieszczaj informacje o gatunkach książek.</p>
    </div>
</div>